UIElementsSchema/BovineLabs.Anchor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BovineLabs.Anchor" elementFormDefault="qualified" targetNamespace="BovineLabs.Anchor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:simpleType name="AnchorSafeAreaEdgesType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Top" />
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClassBindingType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element xmlns:q1="UnityEngine.UIElements" ref="q1:VisualElement" />
    </xs:choice>
    <xs:attribute name="property" type="xs:string" />
    <xs:attribute default="OnSourceChanged" name="update-trigger" xmlns:q2="UnityEngine.UIElements" type="q2:BindingUpdateTriggerType" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute default="false" name="delay" type="xs:boolean" />
    <xs:attribute name="data-source-path" type="xs:string" />
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:element name="ClassBinding" type="tns:ClassBindingType" />
</xs:schema>