UIElementsSchema/BovineLabs.Anchor.Elements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BovineLabs.Anchor.Elements" elementFormDefault="qualified" targetNamespace="BovineLabs.Anchor.Elements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:import schemaLocation="BovineLabs.Anchor.xsd" namespace="BovineLabs.Anchor" />
  <xs:complexType name="TimerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:choice />
        <xs:attribute default="0" name="interval" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Timer" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:TimerType" />
  <xs:complexType name="AnchorSafeAreaType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
        <xs:attribute default="All" name="edges" xmlns:q4="BovineLabs.Anchor" type="q4:AnchorSafeAreaEdgesType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnchorSafeArea" xmlns:q5="UnityEngine.UIElements" substitutionGroup="q5:VisualElement" type="tns:AnchorSafeAreaType" />
</xs:schema>